.table {
    display: flex;
    flex-direction: column;
}

.table-header-group {
    display: flex;
}

.table-cell {
    border: 1px solid black;
    padding: 5px;
    overflow: hidden;
    width: 100px;
}

.table-row-group {
    display: flex;
    flex-direction: column;
}

.handle{
    border: 1px solid black;
}

.handle:hover {
    cursor: col-resize;
}

.table-row {
    display: flex;
}

.table-row:hover {
    background-color: lightgrey;
    cursor: pointer;
}

div.star {
    z-index: 1;
    font-size: 20px;
    position: relative;
}

div.star:hover {
    color: red;
}
