table {
    border-collapse: collapse;
    width: 100%;
    /* text-align: center; */
}


th { 
    column-width: 10px;
    overflow: hidden;
}

table,th,td{border:1px solid #000;}

tbody tr:hover {
    background-color: blanchedalmond;
    cursor: pointer;
}

div.star {
    z-index: 1;
    font-size: 20px;
    position: relative;
}

div.star:hover {
    color: red;
}
