.table {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: white;
    border: 1px solid black;
    border-top: none;
}

.table a {
    text-decoration: none;
    color: black;
}

.table a:hover {
    text-decoration: underline;
}

.table-header-group {
    display: flex;
    background-color: lightgrey;
    font-weight: 800;
    line-height: 15px;
    text-align: center;
}

.table-header-group:hover {
    cursor: pointer;
}

.table-cell {
    border-top: 1px solid black;
    padding: 5px;
    overflow: hidden;
    height: 25px;
    width: 100px;
    white-space: nowrap;
}

.table-row-group {
    display: flex;
    flex-direction: column;
}

.handle{
    border: 1.5px solid black;
}

.handle:hover {
    cursor: col-resize;
}

.table-row {
    display: flex;
}

.table-row:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

div.star {
    z-index: 1;
    font-size: 20px;
    line-height: 15px;
}

div.star:hover {
    color: red;
}
