.form-header {
  position: relative;
}

.ticket-number {
  font-weight: 600;
}

.copy {
  font-size: 14px;
  font-weight: 600;
  color: blue;
}

.copy:hover {
  cursor: pointer;
  text-decoration: underline;
}

.copied {
  color: red;
  font-size: 14px;
  opacity: 0;
  position: absolute;
  left: 325px;
  top: -10px;
  text-align: center;
}

.fade-out {
  animation: fadeOut ease 4s;
  -webkit-animation: fadeOut ease 4s;
  -moz-animation: fadeOut ease 4s;
  -o-animation: fadeOut ease 4s;
  -ms-animation: fadeOut ease 4s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
