.app-container {
    display: flex;
    justify-content: center;
    background-color: rgb(245, 243, 241);
    min-height: 575px;
}

.page-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: 1000px;
    overflow: scroll;
    background-color: rgb(227, 241, 235);
}

.button1 {
    padding: 10px;
    background-color: rgb(8, 92, 148);
    border-radius: 3px;
    border: 1px solid black;
    color: white;
    font-size: 12px;
    font-weight: 540;
    box-sizing: border-box;
    text-align: center;
    width: fit-content;
}

.button1:hover {
    cursor: pointer;
    border: 2px solid;
    box-sizing: border-box;
}

.button1.not-edited {
    background-color: rgb(114, 144, 163);
}

div.starred:hover {
    color: red;
    cursor: pointer;
}

.comment-errors{
    color: red;
}
