.ticket-index-container {
    display: flex;
    flex-direction: column;
}

.query-container {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    border-bottom: 1px solid grey;
}

.query-container .filters {
    display: inline-block;
    overflow-y: visible;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    height: 90%;
    width: 92%;
}

.filter .added {
    max-width: 580px;
    overflow: auto;
}

.filter .react-autosuggest__suggestions-container {
    font-size: 12px;
    width: 100px;
    top: 27px;
}

.filter .react-autosuggest__suggestion {
    padding: 5px;
}

#unread div {
    font-weight: 900;
}

#unread {
    background-color: rgb(209, 248, 225);
}

#unread:hover {
    background-color: rgb(173, 246, 204);
}

.query-container button.search {
    padding:5px;
}

.query-container .filter {
    float: left;
    display: flex;
    background-color: lightblue;
    align-items: center;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    height: 40px;
}

.filter .title {
    font-weight: 600;
    padding-right: 5px;
}

.filter input {
    margin-right: 10px;
    max-width: 100px;
}

.filter .options {
    display: flex;
}

.filter .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5px;
}

.filter .checkbox {
    width: 10px;
    height: 10px;
    margin: 3px;
}

.filter .added {
    display: flex;
    margin-right: 5px;
}

.added .added-item {
    background-color: lightgrey;
    padding: 4px;
    margin: 2px;
    border-radius: 2px;
    white-space: nowrap;
}

.added-item .remove {
    color: grey;
}

.added-item .remove:hover {
    cursor: pointer;
}

button.add {
    line-height: 1px;
    height: 20px;
    padding: 5px;
}

.table {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: white;
    border: 1px solid black;
    border-top: none;
}

.table a {
    text-decoration: none;
    color: black;
}

.table a:hover {
    text-decoration: underline;
}

.table-header-group {
    display: flex;
    background-color: lightgrey;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    border-top: 1px solid black;
}

.table-header-group:hover {
    cursor: pointer;
}

.table-header-group .title {
    font-weight: 800;
}

.table-header-group .table-cell:hover {
    background-color: rgb(192, 192, 192);
}

.triangle {
    width: 15px;
    text-align: center;
    margin-left: 5px;
}

.table-cell.ticket-title {
    width: 150px;
}

.table-cell {
    padding: 5px;
    overflow: hidden;
    height: 25px;
    width: 100px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.table-row-group {
    display: flex;
    flex-direction: column;
}

.handle{
    border: 2px solid black;
    background-color: black;
}

.handle:hover {
    cursor: col-resize;
}

.table-row {
    display: flex;
    border-top: 1px solid black;
}

.closed {
    text-decoration: line-through;
}

.table-row:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.starred {
    display: flex;
    justify-content: center;
    width: 50px;
}

div.star {
    z-index: 1;
    font-size: 20px;
}

.starred div.star {
    line-height: 15px;
}

div.star:hover {
    color: red;
}
