.ticket-index-container {
    display: flex;
    height: 100%;
    width: 100%;
    /* min-width: fit-content; */
    flex-direction: column;
    overflow-x: scroll;
    position: relative;
    background-color: rgb(227, 241, 235);
}

.ticket-index-container::-webkit-scrollbar{
    display: none;
}

.query-container {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: lightgrey;
    border-bottom: 1px solid grey;
    width: 100%;
    /* min-width: fit-content; */
    padding: 10px;
    min-height: fit-content;
}

.query-container .filters {
    display: inline-block;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 10px;
    font-size: 12px;
    /* width: 92%; */

}

.filter .added {
    max-width: 580px;
    overflow: auto;
}

.filter .react-autosuggest__suggestions-container {
    font-size: 12px;
    width: 100px;
    top: 27px;
}

.filter .react-autosuggest__suggestion {
    padding: 5px;
}

#unread div {
    font-weight: 900;
}

#unread {
    background-color: rgb(209, 248, 225);
}

#unread:hover {
    background-color: rgb(173, 246, 204);
}

.query-container button.search {
    padding:5px;
}

.query-container .filter {
    float: left;
    display: flex;
    background-color: rgb(173, 236, 200);
    align-items: center;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 3px;
    height: 40px;
}

.filter .title {
    font-weight: 600;
    padding-right: 5px;
}

.filter input {
    margin-right: 10px;
    max-width: 110px;
}

.filter .options {
    display: flex;
}

.filter .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5px;
}

.filter .checkbox {
    width: 10px;
    height: 10px;
    margin: 3px;
}

.filter .added {
    display: flex;
    margin-right: 5px;
}

.added .added-item {
    background-color: rgb(218, 218, 218);
    padding: 4px;
    margin: 2px;
    border-radius: 3px;
    white-space: nowrap;
    border: 1px solid rgb(197, 197, 197);
}

.added-item .remove {
    color: grey;
}

.added-item .remove:hover {
    cursor: pointer;
}

button.add {
    line-height: 1px;
    height: 20px;
    padding: 5px;
}

.table {
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    background-color: white;
    border: 1px solid black;
    border-top: none;
    width: 100%;
    /* min-width: fit-content; */

}

.table a {
    text-decoration: none;
    color: black;
}

.table a:hover {
    text-decoration: underline;
}

.table-header-group {
    display: flex;
    background-color: lightgrey;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    /* text-align: center; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.table-header-group:hover {
    cursor: pointer;
}

.table-header-group .title {
    font-weight: 800;
}

.table-header-group .table-cell:hover {
    background-color: rgb(192, 192, 192);
}

.table-header-group .table-cell {
    display: flex;
    justify-content: space-between;
}

.triangle {
    width: 15px;
    text-align: center;
    margin-left: 5px;
}

.table-cell.ticket-title {
    /* width: 150px; */
}

.table-cell {
    padding: 5px;
    overflow: hidden;
    height: 25px;
    width: 10%;
    width: 200px;
    white-space: nowrap;
    display: flex;
    font-size: 12px;
}

.table-row-group {
    overflow-y: scroll;
    height: 99%;
}

.table-row-group::-webkit-scrollbar{
    display: none;
}

.handle{
    border: 2px solid black;
    background-color: black;
}

.handle:hover {
    cursor: col-resize;
}

.table-row {
    display: flex;
    /* justify-content: right; */
    max-width: 100%;
    border-top: 1px solid black;
}

.closed {
    text-decoration: line-through;
}

.table-row:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.starred {
    display: flex;
    justify-content: center;
    width: 70px;
}

div.star {
    z-index: 1;
    font-size: 20px;
}

.starred div.star {
    line-height: 15px;
}

div.star:hover {
    color: red;
}
