.header {
    display: flex;
    justify-content: center;
    background-color: rgb(61, 204, 123);
    color: white;
    min-width: 1200px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    min-width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.nav .left-nav {
    font-size: 30px;
    margin-left: 30px;
}

.nav .right-nav {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    align-items: center;
}

.right-nav {
    justify-content: space-around;
}

.nav .right-nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    background: rgb(26, 167, 38);
    border-radius: 3px;
    border: 1px solid black;
    height: 37px;
    font-size: 12px;
    font-weight: bold;
}

.nav .right-nav a:hover {
    border: 1px solid white;
}

.link-style-header{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.link-style{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.right-nav button{
    margin-left: 10px;
    margin-right: 10px;
}

.link-container{
    display: flex;
    justify-content: space-between;
    width: 150px;
}
