.header {
    display: flex;
    justify-content: center;
    background-color: rgb(61, 204, 123);
    color: white;
    min-width: 1200px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1100px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.nav .left-nav {
    font-size: 30px;
    margin-left: 30px;
}

.nav .right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav {
    justify-content: space-around;
}

.nav .right-nav a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    background: black;
    border-radius: 3px;
    border: 1px solid black;
    height: 37px;
    font-size: 12px;
    font-weight: bold;
}

.nav .avitar {
    border: 1px solid white;
    border-radius: 30px;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    margin-right: 5px;
}

.nav .right-nav a:hover {
    border: 1px solid white;
}
.new-ticket {
    background-color: green;
}
.nav .logout {
    background-color: black;
}

.button1:hover {
    border: 1px solid white;
}

.button1.demo {
    background-color: black;
}

.link-style-header{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.link-style{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

.right-nav button{
    margin-left: 10px;
}

.link-container{
    display: flex;
    justify-content: space-between;
    width: 150px;
}
