.left-panel-container {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: rgb(8, 148, 118);
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

.left-panel-container h1 {
    color: rgb(92, 92, 92);
    background-color: lightgrey;
    font-weight: 600;
    font-size: 15px;
    padding:10px;

}

.left-panel-container .selected {
    background-color: rgb(192, 204, 199);
}

.left-panel-container a:first-child {
    border-top: 1px solid grey;
}

.left-panel-container a {
    text-decoration: none;
    color: rgb(92, 92, 92);
    padding: 10px;
    padding-right: 30px;
    padding-left: 20px;
    font-weight: 600;
    background-color: rgb(227, 241, 235);
    border-bottom: 1px solid grey;
}

.left-panel-container a:hover {
    cursor: pointer;
    background-color: rgb(192, 204, 199);
}