.profile-header-container {
    margin-left: 300px;
    margin-right: 250px;
}

.user-update-container {
    background-color:rgb(8, 92, 148);
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.user-comments-container{
    background-color: blueviolet;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.welcome-message{
    font-size: 50px;
    margin-right: 150px; 
    transform: translateX(-25px)
}

.header-text{
    margin-left: 7px;
    margin-right: 7px;
}

.user-updates{
    margin-left: 3px;
    margin-right: 3px;
    color: white;
}

.user-comments{
    margin-left: 3px;
    margin-right: 3px;
    color: white;
}

.garfield{
    transform: translateX(-50px)
}

.text{
    padding-left: 3px;
    padding-right: 3px;
}

