.profile-container {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}

.profile-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(209, 241, 222);
    padding: 10px;
}

.profile-header-container .avitar {
    font-size: 30px;
    line-height: 62px;
    height: 64px;
    width: 64px;
    border-radius: 32px;
}

.profile-container a {
    text-decoration: none;
    font-weight: 600;
    color: black
}

.profile-container a:hover{
    text-decoration: underline;
}

.profile-container .ticket, .profile-container .comment {
    padding: 10px;
    background-color: white;
    margin: 10px;
}

/* .ticket {
    background-color: rgb(227, 245, 235);
    border: 1px solid rgb(145, 240, 188);
}

.comment {
    background-color: rgb(224, 224, 245);
    border: 1px solid rgb(171, 171, 248)
} */

.green{
    color: green;
    font-weight: 600;
    margin-right: 10px;
    font-size: 24px;
}

.blue {
    color: blue;
    margin-right: 10px;
    font-size: 20px;
}



